{% load static %}

<div class="ui sticky fixed  menu">
    <div class="ui container">
        <a href="/" class="borderless header item">
            <img class="logo" src="{% static 'img/logo.png' %}">
            二手商品交易平台
        </a>
        <div class="v-header-extra">
            <form class="ui small icon input v-video-search" method="GET" action="{% url 'app:search' %}">
                <input class="prompt" value="{{ q }}" type="text" placeholder="搜索" name="q" id="v-search">
                <i class="search icon" style="cursor:pointer;" onclick="this.parentNode.submit()"></i>
            </form>
            <a class="ui tiny secondary basic button" id="v-header-login" target="_blank" href="{% url 'app:commit' %}">发布</a>
        </div>
    </div>
</div>